<!-- File: header.ejs - Date - 11/14/2020
 ---- Team Members ----​

Fabio Santiago Luiz​ - 301077364​
Thu Nhat Phan Vo​ - 301157562 ​
Franz Cadiente - 301098663​
Abdullah Syed​ - 301133737 ​
Prabaldeep Kaur - 301103203 ​
Zhen Wang​ - 301104020​

---- Course Info ----​

Course Name​ - Web Application Dev​ - COMP229.SEC006​
Professor​ - Aderson Oliveira ​
Project Type​ - Incidents Management​     
  
-->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status comment</h4>
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="comment" placeholder="Enter your comment" 
                        name="comment">
                <div id="statusCommentError">Comment cannot be empty!</div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="closeStatusCommentPopup()">OK</button>
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
            </div>
        </div>
    </div>
</div>